<%= link_to "â† Back", root_path %> /
<% show_banner_img = 'https://images.pexels.com/photos/5847674/pexels-photo-5847674.jpeg' %>
<%= render "shared/banner", h1: "Wine-O-Bot", p: "Please ask your personnal sommelier for a recommendation.", image_url: show_banner_img %>

<div>
  <h1><%= @chat.chat_title %></h1>
  <% if Rails.env.development? %>
  <span class="float-end">
    <%# Input tokens:  @input_tokens  / Output tokens:  @output_tokens/ Context window:  @context_window  %>
  </span>
  <% end %>
</div>

<h1>New Chat</h1>
<%= simple_form_for [@chat, @message] do |f| %>
  <%= f.input :content %>
  <%= f.submit "Send message", class: "btn btn-primary" %>
<% end %>

<% @chat.messages.each do |message| %>
  <%= message.content  %>
<% end %>
