<% show_banner_img = 'https://images.pexels.com/photos/5847674/pexels-photo-5847674.jpeg' %>
<%= render "shared/banner", h1: "Wine-O-Bot", p: "Please ask your personnal sommelier for a recommendation.", image_url: show_banner_img %>

<div>
  <h1>Welcome, how can I help?</h1>
  <% if Rails.env.development? %>
  <span class="float-end">
    <%# Input tokens:  @input_tokens  / Output tokens:  @output_tokens/ Context window:  @context_window  %>
  </span>
  <% end %>
</div>

<div class="chat-header mb-4">
  <% if Rails.env.development? %>
    <span class="float-end text-muted small">
      <%# Input tokens: @input_tokens / Output tokens: @output_tokens / Context window: @context_window %>
    </span>
  <% end %>
</div>

<div class="new-message-form mb-4">
  <%= simple_form_for [@chat, @message] do |f| %>
    <%= f.input :content, placeholder: "Ask your Sommelier something..." %>
    <%= f.submit "Send message", class: "btn btn-global" %>
  <% end %>
</div>

<div class="chat-messages d-flex flex-column">
  <% @chat.messages.order(:created_at).each do |message| %>
    <div class="d-flex mb-3 <%= message.role.downcase == 'user' ? 'justify-content-start' : 'justify-content-end' %>">
      <div class="p-2 rounded" style="background-color: #F5F5DC; max-width: 60%;">
        <strong><%= message.role %>:</strong>
        <div>
          <%= simple_format(message.content.gsub('**', '')) %>
        </div>
      </div>
    </div>
  <% end %>
</div>
