<!DOCTYPE html>
<html>
  <head>
    <title>WineExperience</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>

    <%= render "shared/sidenav" %>
    <div class="container-fluid">
      <div class="row" data-controller="toggle">
        <nav class="col-md-2 sidebar pt-3" data-toggle-target="hideable">
          <%= render "shared/sidenav" %>
        </nav>
        <div class="col-md-10 my-4">
          <%= render "shared/sidenav" %>
          <%= link_to "#", class: "d-none nav-link text-dark",
                  data: {action: "click->toggle#call", toggle_target: "show"} do %>
            <i class="fa-regular fa-square-caret-right"></i>
          <% end %>
        </div>
      </div>
    </div>
    <%= render "shared/banner" %>
    <%= yield %>

  </body>

</html>
